<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block script %}{% endblock %}

</head>

<body class="bg-gray-100">
    <div id="toast-container" class="fixed top-5 right-5 space-y-3 z-50"></div>
    
    {% block content %}{% endblock %}

</body>

</html>