<!DOCTYPE html>

<html>

<head>
    <title>Forgot Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md">

        ```
        <h2 class="text-2xl font-bold mb-4 text-center">Reset Password</h2>

        <input id="email" type="email" placeholder="Enter your email" class="w-full p-3 border rounded-lg mb-4">

        <button onclick="sendResetLink()" class="w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700">
            Send Reset Link
        </button>

        <p id="msg" class="mt-4 text-sm text-center"></p>
        ```

    </div>

    <script>
        const AUTH_URL = "http://localhost:8000/auth";

        function sendResetLink() {
            const msg = document.getElementById("msg");

            fetch(`${AUTH_URL}/password-reset/`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    email: document.getElementById("email").value
                })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        msg.innerHTML = "<span class='text-green-600'>Reset link sent to your email</span>";
                        showToast("Reset link sent to your email", "success");
                    } else {
                        msg.innerHTML = `<span class='text-red-600'>${data.error}</span>`;
                        showToast("Reset link sent to your email", "error");

                    }
                })
                .catch(() => {
                    msg.innerHTML = "<span class='text-red-600'>Server error</span>";
                });
        }
    </script>

    <!-- ================  show Taost Notification   -============== -->
    <script>
        function showToast(message, type = "success") {
            const toast = document.createElement("div");

            toast.className = `
                fixed top-5 right-5 px-4 py-2 rounded shadow text-white z-50
                ${type === "error" ? "bg-red-500" : "bg-green-500"}
            `;

            toast.innerText = message;

            document.body.appendChild(toast);

            setTimeout(() => {
                toast.remove();
            }, 3000);
        }
    </script>

</body>

</html>