<!DOCTYPE html>

<html>

<head>
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">

    <div class="bg-white p-6 rounded shadow w-96">
        <h2 class="text-xl mb-4">Reset Password 123</h2>

        <div class="relative">
            <input id="new_password" type="password" placeholder="New Password"
                class="w-full p-3 border rounded mb-3 pr-10">
            <span onclick="toggleNewPassword()" class="absolute right-3 top-3 cursor-pointer">👁️
            </span>
        </div>

        <div class="relative">
            <input id="confirm_password" type="password" placeholder="Confirm Password"
                class="w-full p-3 border rounded mb-3 pr-10">
            <span onclick="toggleConfirmPassword()" class="absolute right-3 top-3 cursor-pointer">👁️
            </span>
        </div>

        <button onclick="resetPassword()" class="bg-blue-600 text-white px-4 py-2 w-full rounded">
            Reset Password
        </button>

    </div>

    <script>
        const AUTH_URL = "http://localhost:8000/auth";

        // Extract uid & token from URL
        const segments = window.location.pathname.split('/').filter(Boolean);

        const uid = segments[segments.length - 2];
        const token = segments[segments.length - 1];

        function toggleNewPassword() {
            const input = document.getElementById("new_password");
            input.type = input.type === "password" ? "text" : "password";
        }

        function toggleConfirmPassword() {
            const input = document.getElementById("confirm_password");
            input.type = input.type === "password" ? "text" : "password";
        }

        document.addEventListener("keydown", function (e) {
            if (e.key === "Enter") {
                resetPassword();
            }
        });

        function resetPassword() {
            fetch(`${AUTH_URL}/reset-password/${uid}/${token}/`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    new_password: new_password.value,
                    confirm_password: confirm_password.value
                })
            })
                .then(res => res.json())
                .then(data => {
                    showToast(data.message || data.error, 'error');

                    if (data.success) {
                        showToast("Password reset successful. Please login.", "success");
                        window.location.href = "/api/login-user/";
                    }
                })
                .catch(() => showToast("Something went wrong", "error"));

        }
    </script>

    <!-- ------------  Add Toast Notification  ----------------- -->
    <script>
        function showToast(message, type = "success") {
            const container = document.getElementById("toast-container");

            const colors = {
                success: "bg-green-600",
                error: "bg-red-600",
                info: "bg-blue-600"
            };

            const toast = document.createElement("div");
            toast.className = `
            ${colors[type]} text-white px-4 py-3 rounded-lg shadow-lg
            transform transition-all duration-300 opacity-0 translate-x-10
        `;
            toast.innerText = message;

            container.appendChild(toast);

            // Animate in
            setTimeout(() => {
                toast.classList.remove("opacity-0", "translate-x-10");
            }, 100);

            // Remove after 3 sec
            setTimeout(() => {
                toast.classList.add("opacity-0", "translate-x-10");
                setTimeout(() => toast.remove(), 300);
            }, 3000);
        }
    </script>

</body>

</html>